@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700');

body{
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

h2.sector{
  margin: 20px 0;
  padding: 10px;
  font-size: 25px;
  background-color: #f0f0f0; 
  border-left: solid 5px #dd0950;
  filter: drop-shadow(1px 3px 1px #cccccc);
}

button{
  font-size: 12px;
}

a{
  color: #FEFEFE;
  text-decoration: none;
}

a:hover{
  color: #333333;
  text-decoration: none;
}

#sector2, #sector3, #result, #fillout, #minireset, .control#ssave{
  display: none;
}

.createzone{
  padding: 15px;
  margin-bottom: 10px; 
  border: solid 2px #00000055;
}

label{
  width: 100%;
}

.createzone input{
  padding: 3px;
  border: 0;
  border-bottom: solid 3px rgba(170, 170, 170, 0.6);
}

td input{
  padding: 3px;
  border: 0;
  border-bottom: solid 1px rgba(170, 170, 170, 0.6);
}

button#create, button#reset, button#fillout, button#minireset{
  width: 40%;
}

.btn-box{
  margin-left: 15%;
}

.footer{
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: #FEFEFE;
  background-color: #898989;
}

#result{
  display: none;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background: #FEFEFE;
  filter: drop-shadow(3px 3px 3px #00000066)
}

.result_info{
  margin-bottom: 10px;
}

#resultTitle{
  border-left: solid 5px #dd0950;
  padding-left: 8px;
}

#resultDate, #resultTime {
  float: left;
  margin-right: 15px;
  font-weight: 500;
}

#resultPlace{
  font-weight: 500;
}

#timetable td{
  width: 300px;
  padding-left: 10px;
}

td input.cInterval{
  border: solid 1px #999999;
  padding: 10px;
}

#resultCredit{
  margin-top: 10px;
  text-align: right;
  font-weight: 300;
  font-style: itaric;
  font-size: 10px;
}

.control{
  margin-top: 20px;
}

#preview{
  text-align: center;
}

a#dl{
  display: none;
}

#save{
  width: 60%;
  margin-left: 20%;
}

a i.fa-github, i.fa-twitter{
  font-size: 30px;
  margin: 5px 2px;
}

@media screen and (max-width:800px){
  #result{
    width: 100%;
  }

  td input{
    width: 90%;
  }
}

@media screen and (max-width:500px){
  #result{
    width: 100%;
  }

  td input{
    width: 90%;
  }
}